<a href="https://colab.research.google.com/github/zwotzie/googlecolaboratory/blob/master/pandas_multi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display_markdown

from tqdm import tqdm_notebook as tqdm
tqdm().pandas()

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html
pd.set_option('display.max_columns', None)
# pd.options.display.max_columns = None
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.2f}%'.format

print("Pandas Version: ", pd.__version__)
print("Numpy Verion:   ", np.__version__)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  import sys

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

Pandas Version:  1.0.5
Numpy Verion:    1.18.5

In [21]:
A = ['Ram', 'Ram', 'Shyam', 'Shyam', 'Mahima', 'Ram', 'Ram', 'Shyam', 'Shyam', 'Mahima']
B = [ 'a', 'a', 'b', 'b', 'c', 'a', 'd', 'e', 'f', 'a' ]
C = [ 'ab', 'ab', 'bb', 'bb', 'cb', 'cb', 'db', 'eb', 'fb', 'ab' ]
D = [ random.randint(0,100) for i in range(10) ]

df = pd.DataFrame({ 'field_a': A, 'field_b': B, 'field_c': C, 'field_d': D })

display(df.sort_values(by=['field_a', 'field_b'], ascending = (True, True)))

  field_a field_b field_c  field_d
9  Mahima       a      ab       74
4  Mahima       c      cb       41
0     Ram       a      ab       34
1     Ram       a      ab       78
5     Ram       a      cb       58
6     Ram       d      db       60
2   Shyam       b      bb       16
3   Shyam       b      bb       41
7   Shyam       e      eb       50
8   Shyam       f      fb       93

In [22]:
ds = df.groupby(by=['field_a', 'field_b'], as_index=False).agg(
    {
        'field_c': ['nunique', 'count']
    })

In [23]:
ds

  field_a field_b field_c
                  nunique count
0  Mahima       a       1     1
1  Mahima       c       1     1
2     Ram       a       2     3
3     Ram       d       1     1
4   Shyam       b       1     2
5   Shyam       e       1     1
6   Shyam       f       1     1

In [35]:
domain = 'Ram'
ds[(ds.field_a == domain) & (ds['field_c', 'nunique'] > 0)]

  field_a field_b field_c
                  nunique count
2     Ram       a       2     3
3     Ram       d       1     1

In [36]:
ds[(ds.field_a == domain) & (ds['field_c', 'nunique'] > 0)].sort_values(by=('field_c', 'nunique'), ascending = (True))

  field_a field_b field_c
                  nunique count
3     Ram       d       1     1
2     Ram       a       2     3

In [38]:
ds[(ds.field_a == domain) & (ds['field_c', 'nunique'] > 0)].sort_values(by=('field_c', 'nunique'), ascending = (True)).style.hide_index()

In [41]:
ds[(ds.field_a == domain) & (ds['field_c', 'nunique'] > 0)].sort_values(by=('field_c', 'nunique'), ascending = (True)).style.hide_index().set_properties(subset=["field_a", "field_b"], **{'text-align': 'left'})