<a href="https://colab.research.google.com/github/zwotzie/googlecolaboratory/blob/master/pandas_multi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from IPython.display import display_markdown

#from tqdm import tqdm_notebook as tqdm
#tqdm().pandas()

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html
#pd.set_option('display.max_columns', None)
# pd.options.display.max_columns = None
#pd.set_option('display.max_rows', None)
#pd.options.display.float_format = '{:.2f}%'.format

print("Pandas Version: ", pd.__version__)
print("Numpy Verion:   ", np.__version__)

Pandas Version:  1.0.5
Numpy Verion:    1.18.5

In [16]:
A = ['Ram', 'Ram', 'Shyam', 'Shyam', 'Mahima', 'Ram', 'Ram', 'Shyam', 'Shyam', 'Mahima']
B = [ 'a', 'a', 'b', 'b', 'c', 'a', 'd', 'e', 'f', 'a' ]
C = [ 'ab', 'ab', 'bb', 'bb', 'cb', 'cb', 'db', 'eb', 'fb', 'ab' ]
D = [ random.randint(0,100) for i in range(10) ]

df = pd.DataFrame({ 'field_a': A, 'field_b': B, 'field_c': C, 'field_d': D })

display(df.sort_values(by=['field_a', 'field_b'], ascending = (True, True)))

  field_a field_b field_c  field_d
9  Mahima       a      ab       52
4  Mahima       c      cb       92
0     Ram       a      ab       64
1     Ram       a      ab       86
5     Ram       a      cb        9
6     Ram       d      db        1
2   Shyam       b      bb       91
3   Shyam       b      bb       66
7   Shyam       e      eb       42
8   Shyam       f      fb       36

In [17]:
ds = df.groupby(by=['field_a', 'field_b'], as_index=False).agg(
    {
        'field_c': ['nunique', 'count']
    })

In [18]:
ds

  field_a field_b field_c
                  nunique count
0  Mahima       a       1     1
1  Mahima       c       1     1
2     Ram       a       2     3
3     Ram       d       1     1
4   Shyam       b       1     2
5   Shyam       e       1     1
6   Shyam       f       1     1

In [19]:
domain = 'Ram'
ds[(ds.field_a == domain) & (ds['field_c', 'nunique'] > 0)]

  field_a field_b field_c
                  nunique count
2     Ram       a       2     3
3     Ram       d       1     1

In [20]:
ds[(ds.field_a == domain) & (ds['field_c', 'nunique'] > 0)].sort_values(by=('field_c', 'nunique'), ascending = (True))

  field_a field_b field_c
                  nunique count
3     Ram       d       1     1
2     Ram       a       2     3

In [21]:
ds[(ds.field_a == domain) & (ds['field_c', 'nunique'] > 0)].sort_values(by=('field_c', 'nunique'), ascending = (True)).style.hide_index()

In [22]:
ds[(ds.field_a == domain) & (ds['field_c', 'nunique'] > 0)].sort_values(by=('field_c', 'nunique'), ascending = (True)).style.hide_index().set_properties(subset=["field_a", "field_b"], **{'text-align': 'left'})

In [23]:
for domain in sorted(df.field_a.unique()):
  display_markdown('***', raw=True)
  display_markdown(f'## We are looking at: {domain}', raw=True)
  display(ds[(ds.field_a == domain) & (ds['field_c', 'nunique'] > 0)].sort_values(by=('field_c', 'nunique'), ascending = (True)).style.hide_index())

***

## We are looking at: Mahima

***

## We are looking at: Ram

***

## We are looking at: Shyam

## Multiple (all) Colums Into A Function

In [24]:
def f(x):
  return x['field_b'] + ":" + x['field_c']

df['result_f'] = df.apply(f, axis=1)
df

  field_a field_b field_c  field_d result_f
0     Ram       a      ab       64     a:ab
1     Ram       a      ab       86     a:ab
2   Shyam       b      bb       91     b:bb
3   Shyam       b      bb       66     b:bb
4  Mahima       c      cb       92     c:cb
5     Ram       a      cb        9     a:cb
6     Ram       d      db        1     d:db
7   Shyam       e      eb       42     e:eb
8   Shyam       f      fb       36     f:fb
9  Mahima       a      ab       52     a:ab

# Styling In Dataframes

In [ ]:
df =  pd.DataFrame({'A':[23,25,10], 'B':[7,8,3], 'C':[8,3,1]})
display (df)

def highlight_col(x):
    #copy df to new - original data are not changed
    df = x.copy()
    #set by condition
    mask = df['A'] == 23
    df.loc[mask, :] = 'color: yellow'
    df.loc[~mask,:] = 'color: red'
    return df

#display(df.style.apply(highlight_col, axis=None))
display(df.style.highlight_max(color='green'))

def highlight_fifty(val): 
   color = 'red' if val > 11 else 'black' 
   return f'color: {color}'

display(df.style.applymap(highlight_fifty))

    A  B  C
0  23  7  8
1  25  8  3
2  10  3  1

In [ ]:
# https://pandas.pydata.org/pandas-docs/version/1.0.5/user_guide/style.html

# this example did not work here

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan

#display(df)

def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

s = df.style.applymap(color_negative_red, subset=['D','E'])
# s = df.style.applymap(color_negative_red)
s