<a href="https://colab.research.google.com/github/zwotzie/googlecolaboratory/blob/master/pandas_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filtering with pandas

## Filtering with Values of a Column
* str.contains()
* str.startswith()
* str.endswith()
* str.islower(), isXyz()
* str.find()

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [15]:
print("columns:     ", df.columns)
print("shape of df: ", df.shape)
display(df)

columns:      Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
shape of df:  (9, 5)

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [6]:
df2 = df.A.str.  #contains('foo')
# show df where A contains foo = True
df[df2]

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6

In [7]:
df2

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7    False
8    False
Name: A, dtype: bool

## complex filtering

In [23]:
import re
booleans = []
# iterate over values in column B:
for result in df.B:
    # do check something "complex"
    if not re.search('one', result):
        booleans.append(True)
    else:
        booleans.append(False)

#print(booleans[0:5])
print(booleans)
print(len(booleans))

[False, False, False, True, True, False, False, True, True]
9

In [25]:
Filtered = pd.Series(booleans)
Filtered

0    False
1    False
2    False
3     True
4     True
5    False
6    False
7     True
8     True
dtype: bool

In [26]:
df3 = df[Filtered]
df3.shape # no smaler then before

(4, 5)

In [27]:
df3

     A    B      C  D  E
3  foo  two  small  3  5
4  foo  two  small  3  6
7  bar  two  small  6  9
8  bar  two  large  7  9